<p>1.Utworzyć komponent firstChildComponent. Wyświetlić w nim imie i nazwisko.
</p>
<p>2.Do firstChildComponent przekazać obiekt, który będzie zawierał imię i nazwisko. Utworzyć model danych, wyświetlić przekazane
  dane</p>
<p>3.Do AppComponent, po naciśnięciu guzika, przekazać tekst: "Cześć rodzicu, to ja twoje dziecko!"
    Jeżeli nie ma wartości, wyświetlić o tym informację.
    Dodać guzik, który po naciśnięciu będzie zmieiał kolor napisu z czarnego na czerwony.
</p>
<p>
<p>4.Utworzyć drugi komponent secondChildComponent.</p>
<p>5. Przekazać dane z firstChildComponent (imie i nazwisko) do secondChildComponent</p>
<p>6. Utworzyć nawigację. Po naciśnięciu linku dodanego w AppComponent, przenawigować uzytkownika do  firstChildComponent</p>
<p>7. Wydzielić moduł FirstModue, który będzie zawierał utworzone wcześniej komponentu</p>